body {
  background: #ECF2F6;
  font-family: 'Source Sans Pro', sans-serif;
}

i {
  margin-right: 8px;
}

.container {
  display: grid;
  grid-template-columns: 12% 1fr;
}

.aside {
  background: #354052;
}

.aside img {
  width: 90px;
  height: 90px;
  border-radius: 60%;
  margin: 10px 30px -15px;
}

.aside__profile {
  border-bottom: 2px solid #384456;
}

.aside__profile p {
  color: #A0ABBF;
  font-weight: 300;
  text-align: center;
}

.fa-caret-down {
  margin-left: 5px;
  width: 1px;
}

.aside__section {
  color: #A0ABBF;
  border-bottom: 2px solid #384456;
  height: 25vh;
}

.aside__section ul {
  list-style-type: none;
  margin-left: -25px;
}

.aside__section li {
  margin: 8px;
  font-size: 0.75rem;
}

.aside__section p {
  color: #617088;
  margin-left: 25px;
  font-size: 0.8rem;
}

.aside__section #square1 {
  color: #FFD507;
}

.aside__section #square2 {
  color: #2AAFFF;
}

.aside__section #square3 {
  color: #E81A60;
}

.aside__section #square4 {
  color: #00AA8A;
}

.main__nav {
  background: white;
  display: flex;
  justify-content: center;
  height: 50px;
  color: #617088;
}

.main__nav input {
  border: solid 1px #A0ABBF;
  padding: 5px;
  flex-grow: 1;
  margin-left: -10px;
}

.main__nav i {
  border: solid 1px #A0ABBF;
  padding: 15px;
}

.main .fa-calendar {
  margin-left: -9px;
}

.fa-th {
  color: #617088;
  margin-left: -9px;
}

.main__title {
  padding: 40px;
}

.main__title__text  {
  display: flex;
  justify-content: flex-start;
}

.blue {
  color: #2AAFFF;
}

#smallcircle {
  font-size: 5px;
  color: #A0ABBF;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  bottom: 3px;
}

.main__title__btns {
  float: right;
  display: flex;
  flex-direction: row;
  margin-top: -45px;
}

.main__title__btns p {
  border: 1px solid #A0ABBF;
  border-radius: 25px;
  padding: 2px;
  width: 75px;
  color: #6F7B8B;
  margin-top: 4px;
  margin-right: 3px;
  text-align: center;
}

.main__title__btns i {
  border: 1px solid #A0ABBF;
  border-radius: 50%;
}

.main__title__btns .fa-circle {
  margin-right: 5px;
  color: #8CC63E;
  border: none;
}

.main__title__btns .icons {
  margin-left: 8px;
  margin-top: -3px;
}

.main__title__btns .icons i {
  padding: 12px;
}


.main__title__text__nav {
  display: flex;
}

.main__title__text__nav li {
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  margin-right: 45px;
  text-transform: capitalize;
}

.img-container {
  display: grid;  
  grid-template-columns: 50% 50%;
  margin-right: 100 px;
}

.image #smaller {
  width: 500px;
  margin-bottom: 25.5px;
}

.image p {
  border: 1px solid #A0ABBF;
  border-radius: 25px;
  background: white;
  text-align: center;
  width: 200px;
  margin-left: 150px;
  padding: 5px;
}